<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44561709964-m3ove4e27dpcc5h4oovlu7hd6k12gq6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44561709964-m3ove4e27dpcc5h4oovlu7hd6k12gq6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCTm9giRFRPXlsMzIYiCnk0DsctSmVCY7k</string>
	<key>GCM_SENDER_ID</key>
	<string>44561709964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.series7</string>
	<key>PROJECT_ID</key>
	<string>series-7-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>series-7-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44561709964:ios:95782e27392d87979674a9</string>
</dict>
</plist>